{% extends 'admin.html.twig' %}

{% block body %}
    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('success') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
<div class="panel panel-default">
    <div class="panel-heading">
        <table width="100%">

            <tr>
                <th><h5>Review Edit</h5></th>
            </tr>

        </table>
    </div>
    <div class="panel-body">
        {{ form_start(edit_form) }}
        {{ form_errors(edit_form) }}
        <div class="form col-lg-6 no-gutter">
                <div class="form-group">
                    <div class="col-lg-3">Name</div>
                    <div class="col-lg-8">
                        {{ form_widget(edit_form.name, {'attr':{'class': 'form-control'}}) }}
                        {{ form_errors(edit_form.name) }}
                    </div>
                </div>
            <div class="clearfix"></div>
            <br>
            <div class="form-group">
                <div class="col-lg-3">Last Name</div>
                <div class="col-lg-8">
                    {{ form_widget(edit_form.lastname, {'attr':{'class': 'form-control'}}) }}
                    {{ form_errors(edit_form.lastname) }}
                </div>
            </div>
            <div class="clearfix"></div>
            <br>
            <div class="form-group">
                <div class="col-lg-3">Email</div>
                <div class="col-lg-8">
                    {{ form_widget(edit_form.email, {'attr':{'class': 'form-control'}}) }}
                    {{ form_errors(edit_form.email) }}
                </div>
            </div>
            <div class="clearfix"></div>
            <br>
            <div class="form-group">
                <div class="col-lg-3">Phone</div>
                <div class="col-lg-8">
                    {{ form_widget(edit_form.phone, {'attr':{'class': 'form-control'}}) }}
                    {{ form_errors(edit_form.phone) }}
                </div>
            </div>
            <div class="clearfix"></div>
            <br>
            <div class="form-group">
                <div class="col-lg-3">Address</div>
                <div class="col-lg-8">
                    {{ form_widget(edit_form.address, {'attr':{'class': 'form-control'}}) }}
                    {{ form_errors(edit_form.address) }}
                </div>
            </div>
            <div class="clearfix"></div>
            <br>
            <div class="form-group">
                <div class="col-lg-3">Review</div>
                <div class="col-lg-8">
                    {{ form_widget(edit_form.review, {'attr':{'class': 'form-control'}}) }}
                    {{ form_errors(edit_form.review) }}
                </div>
            </div>
            <div class="clearfix"></div>
            <br>
            <div class="form-group">
                <div class="col-lg-3">Show / Hide</div>
                <div class="col-lg-8">
                    {{ form_widget(edit_form.action) }}
                    {{ form_errors(edit_form.action) }}
                </div>
            </div>
            <div class="clearfix"></div>
            <br>
            <input type="submit" value="Edit" class="add_block black x-small btn btn-sm btn-primary" />
        </div>
        {{ form_end(edit_form) }}
    </div>
    </div>
    <div style="border-top:1px solid #dbdbdb; padding-top: 10px;">
        <table>
            <td>
                <a href="{{ path('reviews_index') }}" class="btn btn-sm btn-default"><i class="fa fa-mail-reply"></i> Back to the list</a>
            </td>
            <td>
                {{ form_start(delete_form) }}
                <p ><button type="submit" value="Delete" class="btn btn-sm btn-default"><i class="fa  fa-trash-o"></i> Delete</button></p>
                {{ form_end(delete_form) }}
            </td>
        </table>
    </div>
{% endblock %}
