{% extends 'admin.html.twig' %}

{% block body %}
<div class="panel panel-default">
    <div class="panel-heading">
        <table width="100%">

            <tr>
                <th><h5>Review Form</h5></th>
            </tr>

        </table>
    </div>
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="panel-body">

    <div class="form col-lg-6 no-gutter">
        <div class="form-group">
            <div class="col-lg-3">Name</div>
            <div class="col-lg-8">
                {{ form_widget(form.name, {'attr':{'class': 'form-control'}}) }}
                {{ form_errors(form.name) }}
            </div>
        </div>
        <div class="clearfix"></div>
        <br>
        <div class="form-group">
            <div class="col-lg-3">Last Name</div>
            <div class="col-lg-8">
                {{ form_widget(form.lastname, {'attr':{'class': 'form-control'}}) }}
                {{ form_errors(form.lastname) }}
            </div>
        </div>
        <div class="clearfix"></div>
        <br>
        <div class="form-group">
            <div class="col-lg-3">Email</div>
            <div class="col-lg-8">
                {{ form_widget(form.email, {'attr':{'class': 'form-control'}}) }}
                {{ form_errors(form.email) }}
            </div>
        </div>
        <div class="clearfix"></div>
        <br>
        <div class="form-group">
            <div class="col-lg-3">Phone</div>
            <div class="col-lg-8">
                {{ form_widget(form.phone, {'attr':{'class': 'form-control'}}) }}
                {{ form_errors(form.phone) }}
            </div>
        </div>
        <div class="clearfix"></div>
        <br>
        <div class="form-group">
            <div class="col-lg-3">Address</div>
            <div class="col-lg-8">
                {{ form_widget(form.address, {'attr':{'class': 'form-control'}}) }}
                {{ form_errors(form.address) }}
            </div>
        </div>
        <div class="clearfix"></div>
        <br>
        <div class="form-group">
            <div class="col-lg-3">Address</div>
            <div class="col-lg-8">
                {{ form_widget(form.review, {'attr':{'class': 'form-control'}}) }}
                {{ form_errors(form.review) }}
            </div>
        </div>
        <div class="clearfix"></div>
        <br>
        <div class="form-group">
            <div class="col-lg-3">Show / Hide</div>
            <div class="col-lg-8">
                {{ form_widget(form.action) }}
                {{ form_errors(form.action) }}
            </div>
        </div>
        <div class="clearfix"></div>
        <br>
        <input type="submit" value="Create" class="add_block black x-small btn btn-sm btn-primary" />
    </div>
        </div>
    {{ form_end(form) }}
</div>




    <ul>
        <li>
            <a href="{{ path('reviews_index') }}" class="">Back to the list</a>
        </li>
    </ul>
{% endblock %}
