{% extends 'admin.html.twig' %}

{% block body %}
    {% if review.action == '1' %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <table width="100%">

                <tr>
                    <th><h5>Review by: {{ review.name }} {{ review.lastname }}</h5></th>
                    <td align="right">ID: {{ review.id }}</td>
                </tr>

            </table>
        </div>
        <div class="panel-body">
            {{ review.review|raw }}
            <p>&nbsp;</p>
            <table>
                <tbody>

                <tr>
                    <th>Email:</th>
                    <td>{{ review.email }}</td>
                </tr>
                <tr>
                    <th>Phone:</th>
                    <td>{{ review.phone }}</td>
                </tr>
                <tr>
                    <th>Address:</th>
                    <td>{{ review.address }}</td>
                </tr>

                {#tr            <tr>#}
                {#<th>Action</th>#}
                {#<td>{% if review.action == 'yes' %}Yes{% else %}No{% endif %}</td>#}
                {#</tr>#}
                </tbody>
            </table>
        </div>
    </div>

    {% endif %}
    <div style="border-top:1px solid #dbdbdb; padding-top: 10px;">
        <table>
            <tr>
                <td>
                    <a href="{{ path('reviews_index') }}" class="btn btn-sm btn-default"><i class="fa fa-mail-reply"></i> Back to the list</a>
                </td>
                <td>
                    <a href="{{ path('reviews_edit', { 'id': review.id }) }}" class="btn btn-sm btn-default"><i class="fa fa-edit"></i> Edit</a>
                </td>
                <td>
                    {{ form_start(delete_form) }}
                    <p ><button type="submit" value="Delete" class="btn btn-sm btn-default"><i class="fa  fa-trash-o"></i> Delete</button></p>
                    {{ form_end(delete_form) }}
                </td>
            </tr>
        </table>
    </div>
{% endblock %}
