{% extends 'admin.html.twig' %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <table width="100%">

                <tr>
                    <th><h5>{{ page.title }}</h5></th>
                    <td align="right">ID: {{ page.id }}</td>
                </tr>

            </table>
        </div>
        <div class="panel-body">
            <table>
                <tbody>
                <tr>
                    <td>{{ page.description|raw }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div style="border-top:1px solid #dbdbdb; padding-top: 10px;">
        <table>
            <tr>
                <td>
                    <a href="{{ path('pages_index') }}" class="btn btn-sm btn-default"><i class="fa fa-mail-reply"></i> Back to the list</a>
                </td>
                <td>
                    <a href="{{ path('pages_edit', { 'id': page.id }) }}" class="btn btn-sm btn-default"><i class="fa fa-edit"></i> Edit</a>
                </td>
                <td>
                    {{ form_start(delete_form) }}
                    <p ><button type="submit" value="Delete" class="btn btn-sm btn-default"><i class="fa  fa-trash-o"></i> Delete</button></p>
                    {{ form_end(delete_form) }}
                </td>
            </tr>
        </table>
    </div>
{% endblock %}
